################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LightshotPhotoParser/v15/Server/sqlite3/db.lock
/.vs/LightshotPhotoParser/v15/Server/sqlite3
/.vs/LightshotPhotoParser/v15/.suo
/LightshotPhotoParser/bin/Debug
/LightshotPhotoParser/obj/Debug
